<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" requestValidationMode="2.0" maxQueryStringLength="1320000" maxUrlLength="1320000" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
    <sessionState mode="InProc" cookieless="false" timeout="1440" />
    <customErrors defaultRedirect="/oops.aspx">
      <error statusCode="500" redirect="/oops.aspx" />
    </customErrors>
  </system.web>
  <appSettings>
    <add key="EncryptionKey" value="CHANGE_ME_TO_A_SECURE_KEY" />
    <add key="AssetsPath" value="https://assets.millionsofrecords.com" />
    <add key="ImagesPath" value="https://images.millionsofrecords.com" />
    <add key="MP3sPath" value="https://mp3s.millionsofrecords.com" />
    <add key="IP_Office" value="24.10.68.226" />
    <add key="SMTP_Host" value="smtp.example.com" />
    <add key="SMTP_Port" value="587" />
    <add key="SMTP_User" value="user@example.com" />
    <add key="SMTP_Pass" value="YOUR_SMTP_PASSWORD" />
    <add key="SMTP_ReplyTo_Name" value="Millions Of Records" />
    <add key="SMTP_ReplyTo_EMail" value="reply@example.com" />
  </appSettings>
  <connectionStrings>
    <add name="MillionsOfRecordsConnectionStringDevelopment" connectionString="Data Source=(localdb)\MSSQLLocalDB; Initial Catalog=INTERNETREGGAE; Integrated Security=True;Application Name=MorLegacyWebApp;" />
    <add name="MillionsOfRecordsConnectionStringProduction" connectionString="Data Source=(localdb)\MSSQLLocalDB; Initial Catalog=INTERNETREGGAE; Integrated Security=True;Application Name=MorLegacyWebApp;" />
    <add name="MillionsOfRecordsConnectionStringProduction-HTTPdn" connectionString="Data Source=(localdb)\MSSQLLocalDB; Initial Catalog=INTERNETREGGAE; Integrated Security=True;Application Name=MorLegacyWebApp;" />
  </connectionStrings>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxUrl="132768" maxQueryString="1327680" />
      </requestFiltering>
    </security>
    <rewrite>
      <rules>
        <rule name="Remove trailing slash" stopProcessing="true">
          <match url="(.*)/$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Redirect" redirectType="Permanent" url="{R:1}" />
        </rule>
        <rule name="Rewrite ItemDetails ItemID" stopProcessing="true">
          <match url="^ItemDetails/(.*)/(.*)/(.*)$" />
          <action type="Rewrite" url="ItemDetails.aspx?ID={R:2}" />
        </rule>
        <rule name="Block Petalbot" patternSyntax="Wildcard" stopProcessing="true">
          <match url="*" />
          <conditions>
            <add input="{HTTP_USER_AGENT}" pattern="*petalbot*" />
          </conditions>
          <action type="AbortRequest" />
        </rule>
        <rule name="Block Neevabot" patternSyntax="Wildcard" stopProcessing="true">
          <match url="*" />
          <conditions>
            <add input="{HTTP_USER_AGENT}" pattern="*neevabot*" />
          </conditions>
          <action type="AbortRequest" />
        </rule>
        <rule name="Block Semrush.com" patternSyntax="Wildcard" stopProcessing="true">
          <match url="*" />
          <conditions>
            <add input="{HTTP_USER_AGENT}" pattern="*semrush.com*" />
          </conditions>
          <action type="AbortRequest" />
        </rule>
        <rule name="Block Ahrefs.com" patternSyntax="Wildcard" stopProcessing="true">
          <match url="*" />
          <conditions>
            <add input="{HTTP_USER_AGENT}" pattern="*ahrefs.com*" />
          </conditions>
          <action type="AbortRequest" />
        </rule>
        <rule name="Block webmeup-crawler.com" patternSyntax="Wildcard" stopProcessing="true">
          <match url="*" />
          <conditions>
            <add input="{HTTP_USER_AGENT}" pattern="*webmeup-crawler.com*" />
          </conditions>
          <action type="AbortRequest" />
        </rule>
        <rule name="Block petalsearch.com" patternSyntax="Wildcard" stopProcessing="true">
          <match url="*" />
          <conditions>
            <add input="{HTTP_USER_AGENT}" pattern="*petalbot*" />
          </conditions>
          <action type="AbortRequest" />
        </rule>
        <rule name="Block linabot" patternSyntax="Wildcard" stopProcessing="true">
          <match url="*" />
          <conditions>
            <add input="{HTTP_USER_AGENT}" pattern="*linabot*" />
          </conditions>
          <action type="AbortRequest" />
        </rule>
        <rule name="Block yandexbot" patternSyntax="Wildcard" stopProcessing="true">
          <match url="*" />
          <conditions>
            <add input="{HTTP_USER_AGENT}" pattern="*Yandex*" />
          </conditions>
          <action type="AbortRequest" />
        </rule>
        <rule name="RequestBlockingRule1" patternSyntax="Wildcard" stopProcessing="true">
          <match url="*" />
          <conditions>
            <add input="{HTTP_USER_AGENT}" pattern="*Yandex*" />
          </conditions>
          <action type="CustomResponse" statusCode="403" statusReason="Forbidden: Access is denied." statusDescription="You do not have permission to view this directory or page using the credentials that you supplied." />
        </rule>
        <rule name="RequestBlockingRule2" patternSyntax="Wildcard" stopProcessing="true">
          <match url="*" />
          <conditions>
            <add input="{HTTP_USER_AGENT}" pattern="*petalsearch*" />
          </conditions>
          <action type="CustomResponse" statusCode="403" statusReason="Forbidden: Access is denied." statusDescription="You do not have permission to view this directory or page using the credentials that you supplied." />
        </rule>
        <rule name="RequestBlockingRule3" patternSyntax="Wildcard" stopProcessing="true">
          <match url="*" />
          <conditions>
            <add input="{HTTP_USER_AGENT}" pattern="*opensiteexplorer*" />
          </conditions>
          <action type="CustomResponse" statusCode="403" statusReason="Forbidden: Access is denied." statusDescription="You do not have permission to view this directory or page using the credentials that you supplied." />
        </rule>
        <rule name="RequestBlockingRule4" patternSyntax="Wildcard" stopProcessing="true">
          <match url="*" />
          <conditions>
            <add input="{HTTP_USER_AGENT}" pattern="*PetalBot*" />
          </conditions>
          <action type="CustomResponse" statusCode="403" statusReason="Forbidden: Access is denied." statusDescription="You do not have permission to view this directory or page using the credentials that you supplied." />
        </rule>
      </rules>
    </rewrite>
    <httpProtocol allowKeepAlive="false" />
    <httpErrors errorMode="Detailed" />
    <defaultDocument>
      <files>
        <remove value="default.aspx" />
        <remove value="iisstart.htm" />
        <remove value="index.html" />
        <remove value="index.htm" />
        <remove value="Default.asp" />
        <remove value="Default.htm" />
        <add value="home.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>